@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Playfair+Display&family=Poppins:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100%;
}

.gray-color{
  background-color: #ECECEC;
}

.brown-color{
  background-color: #B19170;
}

nav{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background: #ECECEC;
  width: 100%;
  height: 90px;
}

footer{
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  position: flex;
  width: 100%;
}

.logo{
  height: 70px;
}

.rigth{
  float: right;
  margin-top: 20px;
}

.alert-password{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 4rem;
}

.h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2rem;
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.intro {
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.header1 {
  width: 100%;
  height: 4rem;
  background-color: #7D5E3F;
  position: sticky;
  top: 0;
  z-index: 1;
}

.banner {
  width: 100%;
}

.banner image {
  object-fit: cover;
}

.bg_test {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, rgb(239, 225, 175) 0%, rgb(195, 220, 250) 100%);
}

.imgfooter{
  height: 7rem;
}

.rounded{
  border-radius: 5%;
}

.nameblock{
  display: inline-block;
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  height: 100vh;
}

.sidebar__sidebar {
  width: 15vw;
}

.sidebar__main {
  /* Take the remaining width */
  flex: 1;

  /* Make it scrollable */
  overflow: auto;
}


@media screen and (max-width: 767px) {
  .header1 {
    display: none !important;
  }
}

@media screen and (max-width:425px){
  .logo{
    content: url("assets/logo_navbar.png");
  }
}

@media screen and (max-width:425px){
  .imgfooter{
    height: 2rem;
    visibility: hidden;
    display: none !important;
  }
}

@media screen and (max-width:425px){
  .flex-1{
    padding-left: 1rem;
  }
}

@media screen and (max-width:425px){
  .nameblock{
    display: none !important;
  }
}
